body
{
  color: rgb(0, 0, 2);
  background: rgb(239, 115, 250);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: rgb(138, 5, 143);
}
